 * {margin: 0; padding: 0;} 

@media (max-width: 480px) {#img1{display:none;}}

body {background: black; 
	 height: 100%;
	 width:  100%;
	 position: fixed;}

	table{margin:auto;	
		height: 100%;}

	#img1{background:url("https://2.downloader.disk.yandex.ua/preview/98cecbba98c8c4d8a3338f96ddee4816375fc06bd0f0ea8bd2d6dcb2f61e6e82/inf/3qreOTN8mr7jifiK1tf9I8uSEXI8NZO4a46qonA5ToxqKbzUNfvY6gANK9YYa18MFLSoFlDGhVtrSNlnJXC_PQ%3D%3D?uid=0&filename=v2.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&size=XXL") no-repeat;}	
	#img1{width: 136px;
		  height: 629px;
		  background-repeat: no-repeat;}
	#img1:hover{background-position: -136px 0px;}
	#img1:active{
				/* transform: rotate(90deg); */
			   /* transform-origin: right bottom; */
			   }
		
	#t1{background:url("https://3.downloader.disk.yandex.ua/preview/645e80e2b2d8fb1f403655777e286b7e08a5030466cc0d1bde721533bacf5298/inf/3qreOTN8mr7jifiK1tf9IyFNLF0adhHZtY8c5tkLzEqI-T4y8eHafztEMK8iwyxh9L6cAItObOdD0XXum47sdQ%3D%3D?uid=0&filename=main_text_sprite.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&size=1163x679") no-repeat;}
	#t1{width: 273px;
		height: 65px;
		background-position: 0px 0px;}	
	#t1:hover{background-position: 0px -65px;}
	#t1:active{}

footer{background: transparent;}
